*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content:"";
    clear: both;
    display: block;
}

.fixed-Width{
    width: 1070px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.header{
    background: #ddd;
}

.header-left{
    float: left;
    width: 30%;

}
.bottom-left h2{
    color: white;
    font-size: 30px;
    line-height: 57px;
}
.header-left img{
    width: 120px;
    height: auto;
    margin-top: 4px;
}

.header-right{
    width: 70%;
    float: right;
}

.header-right ul{
    float: right;
}
.header-right ul li{
    display: inline-block;
}
.header-right ul li a{
    text-decoration: none;
    font-size: 37px;
    color: orange;
    border-right: 1px solid #d2b248c4;
    line-height: 54px;
    display: block;
    margin-left: -4px;
    padding: 0px 10px;
}
.header-right ul li a:hover{
    background:#aea8a8;
}


.container{
    background: url(https://images.unsplash.com/photo-1541531455306-a1008c85edd9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px;
    height: 400px;
}

.container h2{
    background: #5a4343;
    color:
    white;
    border-radius: 10px;
    display: inline-block;
    font-size: 30px;
    padding: 5px;
}
.container h1 {
    background: #9293e5;
    border-radius: 15px;
    padding: 5px;
    max-width: 334px;
    margin: auto;
    margin-top: 11px;
}

.aboutUs{
    margin-top: 25px;
    width: 650px;
}

.aboutUs h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutUs p{
    font-size: 20px;
    margin-bottom: 20px;
}

.services{
   

}
.service-item{
    float: left;
    width: 31.3%;
    border: 1px solid #ddd;
    margin-left: -4px;
    padding: 25px 10px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 28px;
    box-sizing: border-box;
}

.service-item span{
    font-size: 35px;
    background: #26aac8;
    margin: auto;
    color: white;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 20px 0px 20px 0px;
    display: block;
}

.service-item h1{
    margin-bottom: 10px;
    margin-top: 10px;
}
.service-item p{
    font: 20px;

}

.blog-container{
    margin-top: 60px;
}
.blog-left-content{
    float: left;
    width: 70%;
}
.blog-itam img{
    width: 180px;
    height: auto;
    margin-right: 15px;
    float: left;
}
.blog-itam{
    margin-bottom: 20px;
}
.blog-left-notification{
    float: right;
    width: 25%;
}

.blog-left-notification h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.blog-left-notification ul{}

.blog-left-notification ul li{
    border: 1px solid #ddd;
    padding: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

.bottom{
    background: #34495E;
}

.bottom-left{
    float: left;
    width: 70%;
}

.bottom-left h2{
    display: inline;
    text-transform: capitalize;
    font-family: arial black;
}
.bottom-right{
    float: right;
    width: 30%;
}
.bottom-right ul{
    text-align: center;
}

.bottom-right ul li{
    display: inline-block;
    border-right: 1px solid #dddd;
    padding: 10px 10px;
    font-size: 40px;
    color: white;
    line-height: 41px;
}